.hero
{
    position: relative;
    margin: 0;
    &__inner
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EDF3F8;
        height: auto;
        
    }
    &__img
    {
        position: relative;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        z-index:99999999;
    }

    &__h1
    {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -0.553846px;
        color: #36536B;
        width: 520px;
        margin-left: 129px;
    }
    &__logo
    {
        display: block;
        text-decoration: none;
    }
    &__p
    {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #6C8294;
    }
    &__div
    {
        display: block;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 157px;
    }
    &__input
    {
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        mix-blend-mode: normal;
        margin-right: 103px;
    }
    &__label
    {
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        mix-blend-mode: normal;
        padding: 16px 0px 14px 27px;
    }
    &__label:hover
    {
        cursor: pointer;
    }

}
// work
.work
{
    &__inner
    {
        background-color: #1B262F;
        width: auto;
        height: 552px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__h2
    {   margin: 0;
        padding: 75px 0 25px 75px;
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #FBFCFE;

    }
    &__p
    {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #FBFCFE;
        mix-blend-mode: normal;
        opacity: 0.7;
        width: 445px;
        margin-bottom: 32px;
        padding: 0 0 32px 75px;
    }
    &__link
    {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #FBFCFE;
        background: #36536B;
        padding: 16px 32px 14px 32px;
        border-radius: 24px;
        text-decoration: none;
        border: 1px solid;
        margin-top: 48px;
        margin-left: 75px;
    }
    &__link:hover
    {
        background: #FFFFFF;
        border: 1px solid #FBFCFE;
        border-radius: 24px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #1B262F;

    }
   &__list
   {
        display: flex;
        flex-wrap: wrap;

   }
   &__item
   {
    width: 100px;
    list-style: none;
    margin: 54px 13px 54px 160px;
   }
}
// easy
.easy
{
    &__inner
    {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    &__h2
    {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;
        margin-top: 120px;

    }
    &__img
    {
        display: block;
    }
    &__p
    {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        width: 445px;
        color: #6C8294;

    }
}
// simple
.simple
{
    &__inner
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__h2
    {
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.369231px;
        color: #36536B;
    }
    &__p
    {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #6C8294;

    }
}
// personal
.personal
{
    &__list
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }
    &__link
    {
        display: block;
        text-decoration: none;
    }
    &__h2
    {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.138462px;
        color: #36536B;
        margin-top: 32px;

    }
    &__p
    {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.115385px;
        color: #6C8294;
        width: 350px;
        margin-top: 16px;
        margin-bottom: 96px;
    }
    &__img
    {
        display: block;
        margin: 0 auto;
        padding-top: 10px;
    }
    &__items
    {
        border: 1px solid #36536B;
        border-radius: 15px;
        background-color: #FFFFFF;
    }
    &__items:hover
    {
        background-color: burlywood;
    }
}
// start
.start
{
    &__inner
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__input
    {
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        mix-blend-mode: normal;
        margin-right: 103px;
    }
    &__label
    {
        background: #FBFCFE;
        box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
        border-radius: 24px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #36536B;
        mix-blend-mode: normal;
        padding: 16px 0px 14px 27px;
    }
}